<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/image/weather.png">
        <style rel="stylesheet" href="/public/css/styles.css"></style>
        <script src="/public/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorMessage}}
        </div>
        {{>footer}}
    </body>
</html>