<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{!-- to provide partial --}}
            {{>header}}
            <p>{{msg}}</p>
            {{!-- this is the hbs file name to include the file in it --}}
        
        </div>
        {{>footer}}
    </body>
</html>